@page "/user/dashboard"
@layout UserAuthLayout
@attribute [Authorize(Roles = "user")]
@inject IBookService BookService
@inject IOrderService OrderService
@inject ILoginService LoginService
@inject ILocalStorageService LocalStorage
@inject IToastService Toast


<section class="main-body px-3 px-md-5 my-3">
    <div class="genre-container m-4">
        <div class="genre-box d-flex flex-column align-items-center">
            <h3 class="genre-title">Action and Adventure</h3>
            <div class="book-box row gap-5">
                @foreach (var book in Actions)
                {
                    <div class="book-card col-2">
                        <img src="@book.BookImage" alt="books" class="book-img">
                        <div class="book-info">
                            <h4 class="book-name">@book.BookTitle</h4>
                            <p class="author">@book.Author</p>
                            <p class="category">@book.Category</p>
                            <div class="order-box mt-3 d-flex align-items-center justify-content-between">
                                <p class="price">@book.Price</p>
                                <button class="btn-order" @onclick="() => OnOrder(book)">Order</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="genre-container m-4">
        <div class="genre-box d-flex flex-column align-items-center">
            <h3 class="genre-title">Classic</h3>
            <div class="book-box row gap-5">
                @foreach (var book in Classic)
                {
                    <div class="book-card col-2">
                        <img src="@book.BookImage" alt="books" class="book-img">
                        <div class="book-info">
                            <h4 class="book-name">@book.BookTitle</h4>
                            <p class="author">@book.Author</p>
                            <p class="category">@book.Category</p>
                            <div class="order-box mt-3 d-flex align-items-center justify-content-between">
                                <p class="price">@book.Price</p>
                                <button class="btn-order" @onclick="() => OnOrder(book)">Order</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="genre-container m-4">
        <div class="genre-box d-flex flex-column align-items-center">
            <h3 class="genre-title">Horror</h3>
            <div class="book-box row gap-5">
                @foreach (var book in Horror)
                {
                    <div class="book-card col-2">
                        <img src="@book.BookImage" alt="books" class="book-img">
                        <div class="book-info">
                            <h4 class="book-name">@book.BookTitle</h4>
                            <p class="author">@book.Author</p>
                            <p class="category">@book.Category</p>
                            <div class="order-box mt-3 d-flex align-items-center justify-content-between">
                                <p class="price">@book.Price</p>
                                <button class="btn-order" @onclick="() => OnOrder(book)">Order</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="genre-container m-4">
        <div class="genre-box d-flex flex-column align-items-center">
            <h3 class="genre-title">Romance</h3>
            <div class="book-box row gap-5">
                @foreach (var book in Romance)
                {
                    <div class="book-card col-2">
                        <img src="@book.BookImage" alt="books" class="book-img">
                        <div class="book-info">
                            <h4 class="book-name">@book.BookTitle</h4>
                            <p class="author">@book.Author</p>
                            <p class="category">@book.Category</p>
                            <div class="order-box mt-3 d-flex align-items-center justify-content-between">
                                <p class="price">@book.Price</p>
                                <button class="btn-order" @onclick="() => OnOrder(book)">Order</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@code {
    List<Book> Actions = new List<Book>();
    List<Book> Horror = new List<Book>();
    List<Book> Romance = new List<Book>();
    List<Book> Classic = new List<Book>();
    Order order = new Order();

    protected async override Task OnInitializedAsync()
    {
        var Books = await BookService.GetAllBook();

        Actions = Books.Where(b => b.Category == "Action and Adventure").ToList();
        Classic = Books.Where(b => b.Category == "Classics").ToList();
        Horror = Books.Where(b => b.Category == "Horror").ToList();
        Romance = Books.Where(b => b.Category == "Romance").ToList();
    }

    private async Task OnOrder(Book book)
    {
        var username = await LocalStorage.GetItemAsStringAsync("username");
        var user = await LoginService.GetUser(username);
        if(user != null)
        {
            order.FullName = $"{user.FirstName} {user.LastName}";
            order.Address = user.Address;
            order.BookName = book.BookTitle;
            order.Price = book.Price;

            var result = await OrderService.AddOrder(order);
            if (result != null)
            {
                Toast.ShowSuccess($"{book.BookTitle} Successfully Ordered", "Ordered");
            }
        }
    }
}